@font-face {
  font-family: "NoirPro";
  font-display: swap;
  src: url("../fonts/NoirPro-Regular.woff") format("woff"), url("../fonts/NoirPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NoirPro";
  font-display: swap;
  src: url("../fonts/NoirPro-Medium.woff") format("woff"), url("../fonts/NoirPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NoirPro";
  font-display: swap;
  src: url("../fonts/NoirPro-SemiBold.woff") format("woff"), url("../fonts/NoirPro-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NoirPro";
  font-display: swap;
  src: url("../fonts/NoirPro-Bold.woff") format("woff"), url("../fonts/NoirPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}