:root {
  --black: #282828;
  --red: #E30611;
  --pink: #feeced;
  --textColor: #292525;
}

.flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.flexed-item {
  -ms-flex: 1 1 0px;
      flex: 1 1 0;
  -webkit-box-flex: 1;
  box-flex: 1;
}

.flexed-item--auto {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  -webkit-box-flex: 1;
  box-flex: 1;
}

.flcolumn {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
}

.flrow {
  -ms-flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
}

.justcontcenter {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.justcontstart {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.justcontend {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.justcontbetween {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.justcontaround {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.alicontstart {
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.alicontend {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.alicontcenter {
  -ms-flex-line-pack: center;
  align-content: center;
}

.alicontbetween {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.alicontaround {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.alicontstretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.alicentr {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.alistart {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.aliend {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.alibaseline {
  -ms-flex-align: baseline;
  -webkit-box-align: baseline;
  align-items: baseline;
}

.alistretch {
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
  align-items: stretch;
}

.aliselfauto {
  -ms-flex-item-align: auto;
  -webkit-align-self: auto;
  align-self: auto;
}

.aliselfstart {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.aliselfend {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.aliselfcenter {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.aliselfbaseline {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.aliselfstretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.reverwrap {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.flwrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex--order-one {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.flex--order-two {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.flex--order-three {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.flmegacenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: "NoirPro";
  font-display: swap;
  src: url("../fonts/NoirPro-Regular.woff") format("woff"), url("../fonts/NoirPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NoirPro";
  font-display: swap;
  src: url("../fonts/NoirPro-Medium.woff") format("woff"), url("../fonts/NoirPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NoirPro";
  font-display: swap;
  src: url("../fonts/NoirPro-SemiBold.woff") format("woff"), url("../fonts/NoirPro-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NoirPro";
  font-display: swap;
  src: url("../fonts/NoirPro-Bold.woff") format("woff"), url("../fonts/NoirPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  padding-left: 20px;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

/* Configure */

* {
  font-family: "NoirPro", sans-serif;
  color: var(--textColor);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

*:focus {
  outline: none;
}

body {
  font-family: "NoirPro", sans-serif;
  color: var(--textColor);
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.container-fluid {
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

nav ul {
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  padding: 13px 15px !important;
  width: 100%;
  z-index: 12;
  background: #fff;
}

.header__top {
  padding: 15px 0;
  border-bottom: 1px solid #C7C7C7;
}

.header__top .top__menu_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2px;
  margin-right: 27px;
}

.logo picture:first-child {
  margin-right: 13px;
}

.city {
  font-size: 13px;
  padding: 0;
}

.city svg {
  margin-right: 7px;
}

.city:hover svg {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.city:hover span {
  color: var(--red);
}

.top_menu li {
  margin-left: 30px;
}

.top_menu a {
  font-size: 13px;
  line-height: 16px;
}

.top_menu a:hover {
  color: var(--red);
}

.header__contact a {
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

.header__contact span {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  opacity: 0.6;
}

.header__contact label {
  opacity: 0.6;
}

.header__middle {
  padding-top: 20px;
  padding-bottom: 27px;
}

.header__middle_links {
  height: 55px;
}

.header__middle_links .loged-in {
  position: relative;
  padding: 0 20px;
}

.header__middle_links .loged-in:hover img {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.header__middle_links .loged-in:hover svg path:last-child {
  -webkit-transform: translateX(2px);
      -ms-transform: translateX(2px);
          transform: translateX(2px);
}

.header__middle_links .loged-in span {
  color: var(--red);
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__middle_links .loged-in span:before {
  content: "";
  display: block;
  width: 100%;
  height: 76px;
  position: absolute;
  top: -12px;
  left: 0;
  border: 1px solid #E8E8E8;
  border-radius: 8px;
}

.header__middle_links .loged-in span svg {
  width: 14px;
  height: 13px;
  margin-left: 4px;
}

.header__middle_links a {
  height: 100%;
  margin-left: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 18px;
  white-space: nowrap;
  text-align: center;
}

.header__middle_links a:hover img {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.header__middle_links a:hover span {
  color: var(--red);
}

.header__footer {
  height: 50px;
  background: var(--textColor);
}

.header__footer nav {
  height: 100%;
}

.bottom_menu {
  height: 100%;
}

.bottom_menu a {
  height: 100%;
  padding: 16px 38px;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-transform: capitalize;
}

.bottom_menu a:hover {
  background: var(--red);
}

.bottom_menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop__link {
  padding: 16px 38px;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 24px;
}

.social__menu {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 18px;
  margin-right: 22px;
}

.social__menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  opacity: 0.7;
}

.social__menu a:hover {
  opacity: 1;
}

.social__menu li {
  display: block;
  height: 100%;
  margin-left: 17px;
}

.social__menu img {
  display: block;
  height: 100%;
}

.sale {
  max-width: 105px;
  height: 50px;
  padding: 16px 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background: var(--red);
  text-transform: capitalize;
}

.sale:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.hero__banner {
  padding-top: 8px;
  padding-bottom: 23px;
}

.hero__slider .slick-slide {
  height: 100%;
}

.hero__slider .slick-slide img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.hero__slider .slick-list {
  height: 100%;
}

.hero__slider .slick-track {
  height: 100%;
}

.slick-initialized {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__pagination {
  width: 100%;
  padding: 0 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 9999;
}

.prev {
  width: 45px;
  height: 45px;
  background: #fff;
  font-size: 0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prev path {
  stroke: #292525;
}

.next {
  width: 45px;
  height: 45px;
  background: #fff;
  font-size: 0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.next path {
  stroke: #292525;
}

.banner__prev:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  background: #fff;
}

.banner__prev img {
  margin-left: -2px;
}

.banner__prev svg {
  margin-left: -2px;
}

.banner__next:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  background: #fff;
}

.banner__next img {
  margin-right: -2px;
}

.banner__next svg {
  margin-right: -2px;
}

.visible-sm {
  display: none;
}

.visible-xs {
  display: none;
}

.product__banner {
  padding-bottom: 26px;
}

.product__banner h2 {
  max-width: 776px;
  padding: 9px 20px;
  padding-right: 28px;
  margin-top: 13px;
  background: #fff;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.product__slider .slick-list {
  height: 100%;
}

.product__slider .slick-track {
  height: 100%;
}

.product__slider .slick-slide a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__slider .slick-slide picture {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__slider .slick-slide picture img {
  width: 100%;
}

.product__slide_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 75px;
}

.product__slide_info button {
  max-width: 200px;
  height: 73px;
  padding: 12px 32px;
  padding-left: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--textColor);
  color: #fff;
  font-weight: 500;
  font-size: 41.1724px;
  line-height: 49px;
}

.product__slide_info button:hover {
  background: #171515;
}

.product__banner_price {
  display: inline-block;
  height: 38px;
  padding: 2px 8px;
  padding-left: 13px;
  background: #fff;
  font-weight: 600;
  font-size: 29.2896px;
  line-height: 35px;
  color: var(--red);
  margin-top: 6px;
}

.news {
  background: #F4F4F4;
  padding-top: 45px;
}

.news h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.news .prev {
  margin-right: 8px;
}

.news .prev:hover {
  background: var(--red);
}

.news .prev:hover path {
  stroke: #fff;
}

.news .next:hover {
  background: var(--red);
}

.news .next:hover path {
  stroke: #fff;
}

.news__slider {
  margin-top: 20px;
}

.news__slider .slick-slide > a {
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  margin-right: 13px;
}

.news__slider .slick-slide > a:hover h3 {
  color: var(--red);
}

.news__slider .slick-slide img {
  max-width: 244px;
  max-height: 244px;
}

.news__slider .slick-active + .slick-active {
  margin-left: 13px;
  margin-right: 0;
}

.news__info {
  margin-left: 36px;
}

.news__info h3 {
  margin: 13px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.news__info p {
  margin-bottom: 31px;
  font-size: 16px;
  line-height: 19px;
}

.date {
  font-size: 13px;
  line-height: 16px;
  opacity: 0.5;
}

.more {
  max-width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more span {
  color: var(--red);
}

.more:hover .more_slide {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.more:hover .more_sliding {
  position: absolute;
  -webkit-transform: translateX(15px);
      -ms-transform: translateX(15px);
          transform: translateX(15px);
}

.more_btn {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  background: var(--red);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: var(--red);
  overflow: hidden;
  position: relative;
}

.more_slide {
  position: absolute;
  -webkit-transform: translateX(-15px);
      -ms-transform: translateX(-15px);
          transform: translateX(-15px);
}

.partners {
  height: 132px;
  position: relative;
  overflow: hidden;
  background: #F4F4F4;
}

.photobanner {
  position: absolute;
  left: 0px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: bannermove 10s linear infinite;
          animation: bannermove 10s linear infinite;
}

.photobanner a {
  margin: 0 20px;
  opacity: 0.7;
}

@-webkit-keyframes bannermove {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes bannermove {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.footer__bottom {
  margin-top: 14px;
  margin-bottom: 19px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.copy {
  font-size: 13px;
  line-height: 19px;
  opacity: 0.6;
  margin-right: 10px;
}

.payment span {
  font-size: 13px;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 20px;
}

.payment img {
  margin-right: 15px;
  display: inline;
}

.legal a {
  display: block;
  font-size: 13px;
  line-height: 16px;
  opacity: 0.5;
}

.legal a:hover {
  text-decoration: underline;
}

.download {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.download a {
  border: 1px solid #C7C7C7;
  padding: 5px;
  border-radius: 5px;
}

.download a picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download a:hover {
  background-color: #f0f0f0;
}

.download a:first-child {
  margin-right: 7px;
}

.tickets {
  padding: 25px 0;
}

.simplebar-content-wrapper {
  background: #000;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 19px;
  color: #9ea3aa;
  margin-bottom: 12px;
}

.breadcrumbs a {
  color: #9ea3aa;
}

.breadcrumbs a:hover {
  color: var(--red);
}

.dashboard {
  padding: 35px 0;
  /* Inputs */
  /* Buttons */
}

.dashboard h1 {
  font-size: 30px;
  line-height: 36px;
}

.dashboard h2 {
  font-size: 24px;
  line-height: 30px;
}

.dashboard h3 {
  font-size: 20px;
  line-height: 24px;
}

.dashboard__menu {
  list-style: none;
  padding: 0;
  margin-top: 24px;
}

.dashboard__wrap {
  margin-top: 32px;
}

.dashboard .dashboard__sidebar {
  max-width: 212px;
}

.dashboard .dashboard__sidebar .active {
  border-left: 2px solid var(--red);
  background: var(--pink);
  color: var(--red);
}

.dashboard .dashboard__sidebar .active a {
  color: var(--red);
}

.dashboard .dashboard__sidebar a {
  width: 100%;
  padding: 13px 10px;
  font-size: 16px;
  line-height: 20px;
}

.dashboard .dashboard__sidebar a:hover {
  background: var(--pink);
  color: var(--red);
}

.dashboard .dashboard__sidebar .get_status {
  padding: 13px;
}

.dashboard .dashboard__sidebar .get_status picture {
  margin-right: 11px;
}

.dashboard__content {
  max-width: 687px;
  margin-left: 24px;
}

.dashboard__content.about__person picture {
  max-width: 64px;
  max-height: 64px;
  margin-right: 24px;
}

.dashboard__content.about__person picture .ava {
  border-radius: 50%;
}

.dashboard__content.about__person p {
  margin: 12px 0;
  font-size: 16px;
  line-height: 19px;
  color: #d4d4d4;
}

.dashboard__content.about__person .change__profile {
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--red);
}

.dashboard input {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px 12px;
  background: #f4f4f4;
  border: none;
  font-size: 12px;
  line-height: 16px;
}

.dashboard input::-webkit-input-placeholder {
  opacity: 0.3;
}

.dashboard input::-moz-placeholder {
  opacity: 0.3;
}

.dashboard input:-ms-input-placeholder {
  opacity: 0.3;
}

.dashboard input::-ms-input-placeholder {
  opacity: 0.3;
}

.dashboard input::placeholder {
  opacity: 0.3;
}

.dashboard .input__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.dashboard .input__wrap input {
  margin-left: 8px;
  margin-bottom: 0;
}

.dashboard .input__wrap input:first-child {
  margin-left: 0;
}

.dashboard .button__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard button {
  width: 49%;
  padding: 12px 0;
  text-align: center;
  background: var(--red);
  color: #fff;
}

.dashboard button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.dashboard button:first-child {
  background: var(--pink);
  color: var(--red);
}

.dashboard button:first-child:hover {
  background: var(--red);
  color: #fff;
}

/* Profile */

.profile .profile__data p {
  font-size: 18px;
  line-height: 32px;
  color: var(--textColor);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.profile .profile__data p span {
  color: rgba(41, 37, 37, 0.3);
}

/* Changes */

.changes h2 {
  margin-bottom: 12px;
}

.changes .dashboard__content_text {
  max-width: 566px;
}

/* State */

.state .order__table {
  max-width: 614px;
  margin-top: 12px;
  padding: 24px;
  background: #f9f8f8;
}

.state .order__header {
  padding-bottom: 12px;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #c7c7c7;
}

.state .order__header span {
  margin-right: 5px;
}

.state .order__header a {
  color: var(--red);
  font-size: 16px;
  line-height: 24px;
}

.state .order__header a:hover {
  text-decoration: underline;
}

.state .order__body {
  margin: 12px 0;
  font-size: 16px;
  line-height: 24px;
}

.state .order__body span {
  color: rgba(41, 37, 37, 0.3);
}

.state .order__footer h3 {
  margin-bottom: 5px;
}

.state .order__footer li a {
  display: inline;
  color: var(--red);
}

/* track */

.track .dashboard__content {
  max-width: unset;
  width: 100%;
}

.track .dashboard__content_text {
  width: 100%;
}

.track .order__header h3 {
  margin-right: 10px;
}

.track .state__order {
  height: 32px;
  font-size: 20px;
  line-height: 24px;
  background: #f7e0e1;
  padding: 4px 8px;
  color: var(--red);
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.track .state__payed {
  font-size: 16px;
  line-height: 24px;
}

.track .state__payed .payed__amount {
  color: var(--red);
}

.track .order__table {
  padding: 24px;
  background: #f9f8f8;
}

.track .dashboard__content picture {
  margin-right: 16px;
}

.track .dashboard__content .order {
  width: 100%;
  margin-top: 12px;
  overflow: hidden;
}

.track .dashboard__content .order img {
  display: block;
  margin-top: -2px;
}

.track .dashboard__content .order h3 {
  margin-bottom: 5px;
}

.track .dashboard__content .order p {
  font-size: 16px;
  line-height: 24px;
}

.track .dashboard__content .order:hover {
  background: var(--pink);
}

.track .dashboard__content .order:hover h3 {
  color: var(--red);
}

/* track */

/* Academy */

.academy .dashboard__content {
  max-width: 834px;
  padding: 24px;
  padding-top: 42px;
  background: #f9f8f8;
}

.academy .steps {
  font-size: 16px;
  line-height: 16px;
  color: var(--red);
}

.academy .steps span {
  color: var(--red);
}

.academy .academy__form_wrap {
  display: none;
}

.academy .academy__form_wrap.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.academy .academy__form_wrap h3 {
  margin-bottom: 16px;
}

.academy .academy__form_wrap div {
  max-width: 49%;
}

.academy .academy__form_type {
  margin-top: 34px;
  margin-bottom: 16px;
}

.academy .academy__form_type label {
  padding: 12px 29px;
  background: #efeded;
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-right: 8px;
  cursor: pointer;
}

.academy .academy__form_type label.loadAva {
  background: #efeded url(../img/icons/photo.svg) center no-repeat;
  width: 48px;
  height: 48px;
  margin-right: 0;
  padding: unset;
}

.academy .academy__form input[type=radio],
.academy .academy__form input[type=file],
.academy .academy__form input[type=checkbox] {
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.academy .academy__form input[type=radio]:checked + label {
  background: var(--red);
  color: #fff;
}

.academy .academy__form_legal {
  max-width: 705px;
  margin-bottom: 24px;
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
}

.academy .academy__form_legal input[type=checkbox]:checked + label .concent_box:after {
  content: "";
  display: block;
  width: 11px;
  height: 8px;
  background: url(../img/icons/checked.svg) 100%/cover no-repeat;
  position: absolute;
  top: 3px;
  left: 2px;
}

.academy .academy__form_legal label {
  padding-left: 24px;
  position: relative;
  cursor: pointer;
}

.academy .academy__form_legal .concent_box {
  width: 16px;
  height: 16px;
  border: 1px solid #E30611;
  position: absolute;
  top: 1px;
  left: 0;
}

/* Academy */

@media all and (max-width: 1300px) {
  .header__middle_links a {
    margin-left: 30px;
  }

  .product__banner h2 {
    max-width: 40vw;
    font-size: 2.6vw;
    line-height: 4vw;
  }

  .product__slide_info button {
    margin-right: 20px;
  }

  .news__slider .slick-slide img {
    width: 16vw;
    height: 15vw;
  }

  .date {
    font-size: 1vw;
  }

  .news__info h3 {
    margin: 5px 0;
    font-size: 1.2vw;
    line-height: 1.5vw;
  }

  .news__info p {
    margin-bottom: 1vw;
    font-size: 1vw;
    line-height: 1.5vw;
  }

  .more {
    font-size: 1.5vw;
    max-width: unset;
  }

  .more_btn {
    width: 2vw;
    height: 2vw;
  }

  .payment span {
    display: none;
  }
}

@media all and (max-width: 1200px) {
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__contact span {
    display: none;
  }

  .header__middle_links a {
    margin-left: 30px;
  }

  .logo img {
    max-width: 100px;
  }

  .sale {
    display: none;
  }

  .bottom_menu a {
    padding: 16px 30px;
  }

  .top_menu li {
    margin-left: 20px;
  }

  .download a img {
    width: 100%;
  }
}

@media all and (max-width: 992px) {
  .visible-lg {
    display: none;
  }

  .visible-sm {
    display: block;
  }

  .header__top {
    display: none;
  }

  .header__top .top__menu_column {
    display: block;
  }

  footer .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  header a {
    color: #fff;
  }

  header span {
    color: #fff;
  }

  .mobile__header {
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 13px 0;
    -webkit-transition: padding 0s, -webkit-transform 0.2s ease;
    transition: padding 0s, -webkit-transform 0.2s ease;
    -o-transition: padding 0s, transform 0.2s ease;
    transition: padding 0s, transform 0.2s ease;
    transition: padding 0s, transform 0.2s ease, -webkit-transform 0.2s ease;
    z-index: 99999;
  }

  .mobile__header picture {
    height: 100%;
  }

  .mobile__header picture img {
    height: 100%;
  }

  .bar {
    position: relative;
    cursor: pointer;
    width: 22px;
    height: 19px;
  }

  .bar span {
    display: block;
    width: 22px;
    height: 3px;
    background: #E30611;
  }

  .bar span:nth-child(2) {
    margin: 5px 0;
  }

  .bar span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
        transform-origin: left center;
  }

  .bar span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
        transform-origin: left center;
  }

  .bar span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
        transform-origin: left center;
  }

  .mobile__menu {
    width: 40vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background: var(--textColor);
    -webkit-transform: translateX(-40vw);
        -ms-transform: translateX(-40vw);
            transform: translateX(-40vw);
  }

  .mobile__menu-overflow {
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .bottom_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .bottom_menu a {
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    padding-left: 20px;
  }

  .bottom_menu a:hover {
    background: #454545;
  }

  .bottom_menu li {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }

  .header__footer {
    height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header__footer nav {
    width: 100%;
  }

  .social__wrap {
    display: none;
  }

  .header__middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 30px;
    padding-right: 45px;
    padding-left: 20px;
  }

  .header__middle_links {
    height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }

  .header__middle_links a:first-child img {
    height: 16px;
  }

  .header__middle_links .loged-in {
    padding: 0;
  }

  .header__middle_links .loged-in:hover img {
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }

  .header__middle_links .loged-in:hover svg path {
    fill: var(--red) !important;
  }

  .header__middle_links .loged-in span {
    color: #fff;
  }

  .header__middle_links .loged-in span:before {
    display: none;
  }

  .header__middle_links .loged-in span svg path {
    fill: #fff !important;
  }

  .header__middle_links a {
    margin: 0;
    margin-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .header__middle_links img {
    margin-right: 25px;
    max-width: 25px;
  }

  .shop__link {
    width: 100%;
    padding-left: 20px;
    padding-top: 17px;
  }

  .shop__link:hover {
    background: #454545;
  }

  .logo {
    display: none;
  }

  .logo picture:first-child {
    margin-right: 0;
    margin-left: 10px;
  }

  .logo.visible-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 0;
    height: 100%;
  }

  .header__contact span {
    display: block;
  }

  .header__contact > span {
    margin-bottom: 10px;
  }

  .header__contact a:nth-child(2) {
    margin-bottom: 18px;
  }

  .open_menu body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .open_menu .content__wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
  }

  .open_menu .content__slide {
    -webkit-transform: translateX(40vw);
        -ms-transform: translateX(40vw);
            transform: translateX(40vw);
  }

  .open_menu .mobile__header {
    -webkit-transform: translateX(40vw);
        -ms-transform: translateX(40vw);
            transform: translateX(40vw);
  }

  .open_menu .mobile__menu {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .open_menu .bar span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }

  .open_menu .bar span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .open_menu .bar span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    top: 39px;
    left: 8px;
  }

  /* Tracing 992px */

  .track .order__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .track .order__header .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .track .order__header .state__order {
    margin: 10px 0;
  }
}

@media all and (max-width: 767px) {
  .mobile__menu {
    width: 60vw;
    -webkit-transform: translateX(-60vw);
        -ms-transform: translateX(-60vw);
            transform: translateX(-60vw);
  }

  .open_menu .content__slide {
    -webkit-transform: translateX(60vw);
        -ms-transform: translateX(60vw);
            transform: translateX(60vw);
  }

  .open_menu .mobile__header {
    -webkit-transform: translateX(60vw);
        -ms-transform: translateX(60vw);
            transform: translateX(60vw);
  }

  .slider__pagination {
    padding: 0 15px;
  }

  .product__slide_info {
    margin-left: 0;
  }

  .news__slider .slick-slide img {
    width: 124.94px;
    height: 124.94px;
  }

  .news__slider .slick-slide > a {
    padding: 10px;
    height: 100%;
    margin-right: 25px;
  }

  .news__slider .slick-slide > a:after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 100%;
    background: #fff;
    right: -6px;
    top: 0;
  }

  .date {
    font-size: 9.60417px;
    line-height: 12px;
  }

  .news__info {
    margin-left: 14px;
  }

  .news__info h3 {
    font-size: 11px;
    line-height: 13px;
  }

  .news__info p {
    font-size: 10px;
    line-height: 12px;
  }

  .more span {
    font-size: 10.8528px;
    line-height: 13px;
  }

  .more svg {
    width: 5px;
  }

  .news h2 {
    font-size: 24px;
    line-height: 29px;
  }

  .more_btn {
    width: 15px;
    height: 15px;
  }

  footer .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  ul.top_menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .top_menu li {
    margin-left: 30px;
    margin-bottom: 10px;
  }

  .payment {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 15px;
  }

  .footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .copy {
    margin-right: 10px;
  }

  .download {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 12px;
    margin-bottom: 25px;
  }

  /* Changes  */

  .dashboard.changes .dashboard__content_text .input__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .dashboard.changes .dashboard__content_text .input__wrap input {
    width: 49%;
    margin-left: 0;
    margin-bottom: 16px;
  }

  /* Changes  */
}

@media all and (max-width: 567px) {
  img.visible-sm {
    display: none;
  }

  img.visible-xs {
    display: block;
  }

  .visible-xs {
    display: block;
  }

  .slick-prev {
    width: 35px;
    height: 35px;
  }

  .slick-prev img {
    width: 8px;
  }

  .slick-next {
    width: 35px;
    height: 35px;
  }

  .slick-next img {
    width: 8px;
  }

  .prev {
    width: 25px;
    height: 25px;
  }

  .prev svg {
    width: 8px;
    height: 10px;
  }

  .next {
    width: 25px;
    height: 25px;
  }

  .next svg {
    width: 8px;
    height: 10px;
  }

  .mobile__menu {
    width: 70vw;
    -webkit-transform: translateX(-70vw);
        -ms-transform: translateX(-70vw);
            transform: translateX(-70vw);
  }

  .open_menu .content__slide {
    -webkit-transform: translateX(70vw);
        -ms-transform: translateX(70vw);
            transform: translateX(70vw);
  }

  .open_menu .mobile__header {
    -webkit-transform: translateX(70vw);
        -ms-transform: translateX(70vw);
            transform: translateX(70vw);
  }

  .product__slider h2 {
    margin-top: 0;
    max-width: 239px;
    margin-left: -7px;
    margin-right: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 5px 17px 11px;
  }

  .product__slider .slick-slide a {
    width: 100%;
  }

  .product__banner_price {
    margin-left: -7px;
    font-size: 15px;
    line-height: 19px;
    height: unset;
    padding-left: 7px;
    padding-right: 4px;
  }

  .product__slide_info button {
    margin-right: 25px;
    font-size: 19px;
    line-height: 24px;
    margin: 0;
    max-width: 95px;
    padding: 6px 13px;
    height: unset;
    padding-right: 15px;
    margin-right: 25px;
  }

  .partners {
    height: 90px;
  }

  .partners img {
    max-width: 100px;
    max-height: 35px;
  }

  .payment {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom: 20px;
  }

  .payment span {
    display: block;
    margin-bottom: 10px;
  }

  .product__banner .container {
    padding: 0;
  }

  .hero__banner .container {
    padding: 0;
  }

  .news .container {
    padding-right: 0;
  }

  .news .container > .flex.alicentr.justcontbetween {
    padding-right: 15px;
  }

  /* Dashboard */

  .dashboard {
    /* State */
    /* Tracking */
  }

  .dashboard h2 {
    font-size: 21px;
    line-height: 25px;
  }

  .dashboard .dashboard h3 {
    font-size: 17px;
    line-height: 21px;
  }

  .dashboard .dashboard__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .dashboard .dashboard__wrap .dashboard__content {
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .dashboard .dashboard__wrap .dashboard__content .dashboard__content_text {
    margin-left: 0;
  }

  .dashboard .dashboard__wrap aside {
    max-width: unset;
    margin-bottom: 25px;
  }

  .dashboard.state .order__table {
    padding: 15px;
  }

  .dashboard.track .order__table {
    padding: 15px;
  }

  .dashboard.track .dashboard__content .order p {
    font-size: 14px;
    line-height: 20px;
  }

  /* Dashboard */
}

@media all and (max-width: 390px) {
  .city svg {
    margin-right: 0px;
  }

  .top_menu li {
    margin-left: 7px;
  }

  footer .container {
    padding: 0 10px;
  }
}

@media all and (max-height: 715px) {
  .mobile__menu {
    overflow: scroll;
  }
}