@media all and (max-width: 1300px) {
	.header__middle_links {
		a {
			margin-left: 30px;
		}
	}

	.product__banner {
		h2 {
			max-width: 40vw;
			font-size: 2.6vw;
			line-height: 4vw;
		}
	}

	.product__slide_info {
		button {
			margin-right: 20px;
		}
	}

	.news__slider {
		.slick-slide {
			img {
				width: 16vw;
				height: 15vw;
			}
		}
	}

	.date {
		font-size: 1vw;
	}

	.news__info {
		h3 {
			margin: 5px 0;
			font-size: 1.2vw;
			line-height: 1.5vw;
		}

		p {
			margin-bottom: 1vw;
			font-size: 1vw;
			line-height: 1.5vw;
		}
	}

	.more {
		font-size: 1.5vw;
		max-width: unset;
	}

	.more_btn {
		width: 2vw;
		height: 2vw;
	}

	.payment {
		span {
			display: none;
		}
	}
}

@media all and (max-width: 1200px) {
	.header__contact {
		display: flex;
		flex-direction: column;
		justify-content: center;

		span {
			display: none;
		}
	}

	.header__middle_links {
		a {
			margin-left: 30px;
		}
	}

	.logo {
		img {
			max-width: 100px;
		}
	}

	.sale {
		display: none;
	}

	.bottom_menu {
		a {
			padding: 16px 30px;
		}
	}

	.top_menu {
		li {
			margin-left: 20px;
		}
	}

	.download {
		a {
			img {
				width: 100%;
			}
		}
	}

	.product {
		&__single {
			.modal-nav {
				max-width: 180px;

				.slick-slide {
					width: 130px !important;
					height: 120px;

					&.slick-current.slick-active {
						width: 130px !important;
						height: 120px;
					}
				}
			}

		}
	}


	.modal__slider {
		max-width: 345px;
	}
}

@media all and (max-width: 1024px) {
	.academy {
		h2 {
			margin-bottom: 12px;
		}

		&__form_wrap {
			flex-direction: column;

			&>div {
				width: 100%;
			}
		}

		&__form_type {
			margin-top: 12px;
		}

		.dashboard__content_header {
			flex-wrap: wrap;
		}
	}

	.product {
		&__single {
			flex-wrap: wrap;
		}
	}

	.slider__wrap {
		width: 100%;
	}

	.modal__slider {
		max-width: 75%;


	}

	.product__single_content {
		max-width: 100%;
	}
}

@media all and (max-width: 992px) {
	.visible-lg {
		display: none;
	}

	.visible-sm {
		display: block;
	}

	.header__top {
		display: none;

		.top__menu_column {
			display: block;
		}
	}

	footer {
		.header__top {
			display: flex;
			align-items: start;
		}
	}

	header {
		a {
			color: #fff;
		}

		span {
			color: #fff;
		}
	}

	.mobile__header {
		height: 54px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 13px 0;
		transition: padding 0s, transform .2s ease;
		z-index: 999;
		position: fixed;
		top: 0;
		left: 0;
		padding: 13px 15px !important;
		width: 100%;
		z-index: 12;
		background: #fff;

		picture {
			height: 100%;

			img {
				height: 100%;
			}
		}
	}

	.content__slide {
		padding-top: 54px;
	}

	.bar {
		position: relative;
		cursor: pointer;
		width: 22px;
		height: 19px;
		display: block;

		span {
			display: block;
			width: 22px;
			height: 3px;
			background: #E30611;

			&:nth-child(2) {
				margin: 5px 0;
			}
		}

		span:nth-child(1) {
			top: 0px;
			-webkit-transform-origin: left center;
			-moz-transform-origin: left center;
			-o-transform-origin: left center;
			transform-origin: left center;
		}

		span:nth-child(2) {
			top: 18px;
			-webkit-transform-origin: left center;
			-moz-transform-origin: left center;
			-o-transform-origin: left center;
			transform-origin: left center;
		}

		span:nth-child(3) {
			top: 36px;
			-webkit-transform-origin: left center;
			-moz-transform-origin: left center;
			-o-transform-origin: left center;
			transform-origin: left center;
		}
	}

	.mobile__menu {
		width: 40vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 15;
		background: var(--textColor);
		transform: translateX(-40vw);
	}

	.mobile__menu-overflow {
		overflow: auto;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
	}

	.bottom_menu {
		flex-direction: column;
		width: 100%;

		a {
			width: 100%;
			font-size: 16px;
			line-height: 19px;
			padding-left: 20px;

			&:hover {
				background: #454545;
			}
		}

		li {
			justify-content: unset;
		}
	}

	.header__footer {
		height: unset;
		flex-direction: column;
		align-items: flex-start;

		nav {
			width: 100%;
		}
	}

	.social__wrap {
		display: none;
	}

	.header__middle {
		flex-direction: column;
		align-items: flex-start;
		padding-top: 30px;
		padding-right: 45px;
		padding-left: 20px;
	}

	.header__middle_links {
		height: unset;
		flex-direction: column;
		margin-top: 30px;

		a:first-child {
			img {
				height: 16px;
			}
		}

		.loged-in {
			padding: 0;

			&:hover {
				img {
					transform: unset;
				}

				svg path {
					fill: var(--red) !important;
				}
			}

			span {
				color: #fff;

				&:before {
					display: none;
				}

				svg path {
					fill: #fff !important;
				}
			}
		}

		a {
			margin: 0;
			margin-bottom: 10px;
			flex-direction: row;
			justify-content: flex-start;
		}

		img {
			margin-right: 25px;
			max-width: 25px;
		}
	}

	.shop__link {
		width: 100%;
		padding-left: 20px;
		padding-top: 17px;

		&:hover {
			background: #454545;
		}
	}

	.logo {
		display: none;

		picture {
			&:first-child {
				margin-right: 0;
				margin-left: 10px;
			}
		}
	}

	.logo.visible-sm {
		display: flex;
		flex-direction: row-reverse;
		margin: 0;
		height: 100%;
	}

	.header__contact {
		span {
			display: block;
		}

		>span {
			margin-bottom: 10px;
		}

		a {
			&:nth-child(2) {
				margin-bottom: 18px;
			}
		}
	}

	.open_menu {
		body {
			overflow-x: hidden;
			overflow-y: hidden;
		}

		.content__wrapper {
			overflow-x: hidden;
			overflow-y: hidden;
			position: relative;
		}

		.content__slide {
			transform: translateX(40vw);
		}

		.mobile__header {
			transform: translateX(40vw);
		}

		.mobile__menu {
			transform: translateX(0);
		}

		.bar {
			span:nth-child(1) {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
				top: -3px;
				left: 8px;
			}

			span:nth-child(2) {
				width: 0%;
				opacity: 0;
			}

			span:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
				top: 39px;
				left: 8px;
			}
		}
	}

	/* Tracing 992px */

	.track {
		.order__header {
			flex-direction: column;
			align-items: flex-start;

			.flex {
				flex-direction: column;
				align-items: flex-start;
			}

			.state__order {
				margin: 10px 0;
			}
		}
	}

	.academy {
		.steps {
			margin-bottom: 10px;
		}
	}


	/* Catalog 992px */

	.catalog {
		.product {
			max-width: 210px;
		}

		&__products {
			margin-left: 0;
		}
	}

	.product__modal {
		display: none;

		&_overlay.reveal {
			display: none;
		}
	}

	body.hidden {
		overflow: auto;
	}


}

@media all and (max-width: 767px) {
	.mobile__menu {
		width: 60vw;
		transform: translateX(-60vw);
	}

	.open_menu {
		.content__slide {
			transform: translateX(60vw);
		}

		.mobile__header {
			transform: translateX(60vw);
		}
	}

	.slider__pagination {
		padding: 0 15px;
	}

	.product__slide_info {
		margin-left: 0;
	}

	.news__slider {
		.slick-slide {
			img {
				width: 124.94px;
				height: 124.94px;
			}

			>a {
				padding: 10px;
				height: 100%;
				margin-right: 25px;

				&:after {
					content: '';
					display: block;
					position: absolute;
					width: 20px;
					height: 100%;
					background: #fff;
					right: -6px;
					top: 0;
				}
			}
		}
	}

	.date {
		font-size: 9.60417px;
		line-height: 12px;
	}

	.news__info {
		h3 {
			font-size: 11px;
			line-height: 13px;
		}

		p {
			font-size: 10px;
			line-height: 12px;
		}

		margin-left: 14px;
	}

	.more {
		span {
			font-size: 10.8528px;
			line-height: 13px;
		}

		svg {
			width: 5px;
		}
	}

	.news {
		h2 {
			font-size: 24px;
			line-height: 29px;
		}
	}

	.more_btn {
		width: 15px;
		height: 15px;
	}

	footer {
		.header__top {
			display: flex;
			align-items: start;
		}
	}

	ul.top_menu {
		flex-wrap: wrap;
	}

	.top_menu {
		li {
			margin-left: 30px;
			margin-bottom: 10px;
		}
	}

	.payment {
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 15px;
	}

	.footer__bottom {
		flex-wrap: wrap;
	}

	.copy {
		margin-right: 10px;
	}

	.download {
		flex-wrap: nowrap;
		margin-top: 12px;
		margin-bottom: 25px;
	}

	/* Changes  */

	.dashboard {
		&.changes {
			.dashboard__content_text {
				.input__wrap {
					flex-wrap: wrap;
					justify-content: space-between;

					input {
						width: 49%;
						margin-left: 0;
						margin-bottom: 16px;
					}
				}
			}
		}
	}

	/* Changes  */

	/* Academy 767 */

	.academy {
		h2 {
			font-size: 20px;
			line-height: 25px;
		}

		&__form_type {
			flex-direction: column;
			align-items: flex-start;

			&>.flex {
				width: 100%;
				justify-content: space-between;
				flex-direction: column;
			}

			label {
				width: 100%;
				margin-bottom: 10px;

				&:last-child {
					margin-right: 0;
				}

				&.loadAva {
					width: 100px;
					height: 100px;
					margin-top: 10px;
				}
			}
		}

		.dashboard__content {
			padding-top: 16px;
		}
	}

	/* Catalog 767px */

	.catalog {
		.catalog__filter {
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 999;
			background: #fff;
			max-width: 100%;
			width: 100%;
			height: 100%;
			transform: translateY(100%);

			&_content {
				position: relative;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				overflow-y: auto;
			}

			.grey_box {
				padding: 5px 15px;
				font-size: 15px;
			}

			&.show {
				transform: unset;
			}
		}

		.filter__wrap {
			display: flex;
			margin-top: 25px;

			select {
				border: 1px solid grey;
				background: #fff;
				padding: 3px;
			}
		}

		.open__filter {
			display: block;
			width: 25px;
			height: 25px;

			svg {
				width: 100%;
				height: 100%;
				transform: rotate(90deg);
			}
		}

		.close_filter {
			display: block;
			text-align: right;
			position: absolute;
			top: 25px;
			right: 25px;
		}

		&__wrap {
			flex-direction: column;
		}

		.product {
			width: 100%;
			display: flex;
			flex-direction: row;
			max-width: 100%;
			margin-left: 0;
			height: 180px;

			&__img {
				margin-right: 30px;
				height: 100%;

				img {
					object-fit: contain;
				}
			}

			&__overlay {
				display: none;
			}
		}

		&__product_info {
			height: 100%;
		}

	}

}

@media all and (max-width: 567px) {
	img.visible-sm {
		display: none;
	}

	img.visible-xs {
		display: block;
	}

	.visible-xs {
		display: block;
	}

	.slick-prev {
		width: 35px;
		height: 35px;

		img {
			width: 8px;
		}
	}

	.slick-next {
		width: 35px;
		height: 35px;

		img {
			width: 8px;
		}
	}

	.prev {
		width: 25px;
		height: 25px;

		svg {
			width: 8px;
			height: 10px;
		}
	}

	.next {
		width: 25px;
		height: 25px;

		svg {
			width: 8px;
			height: 10px;
		}
	}

	.mobile__menu {
		width: 70vw;
		transform: translateX(-70vw);
	}

	.open_menu {
		.content__slide {
			transform: translateX(70vw);
		}

		.mobile__header {
			transform: translateX(70vw);
		}
	}

	.product__slider {
		h2 {
			margin-top: 0;
			max-width: 239px;
			margin-left: -7px;
			margin-right: 5px;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			padding: 10px 5px 17px 11px;
		}

		.slick-slide a {
			width: 100%;
		}
	}

	.product__banner_price {
		margin-left: -7px;
		font-size: 15px;
		line-height: 19px;
		height: unset;
		padding-left: 7px;
		padding-right: 4px;
	}

	.product__slide_info {
		button {
			margin-right: 25px;
			font-size: 19px;
			line-height: 24px;
			margin: 0;
			max-width: 95px;
			padding: 6px 13px;
			height: unset;
			padding-right: 15px;
			margin-right: 25px;
		}
	}

	.partners {
		height: 90px;

		img {
			max-width: 100px;
			max-height: 35px;
		}
	}

	.payment {
		flex-wrap: wrap;
		border-bottom: 1px solid #C7C7C7;
		padding-bottom: 20px;

		span {
			display: block;
			margin-bottom: 10px;
		}
	}

	.product__banner {
		.container {
			padding: 0;
		}
	}

	.hero__banner {
		.container {
			padding: 0;
		}
	}

	.news {
		.container {
			padding-right: 0;

			>.flex.alicentr.justcontbetween {
				padding-right: 15px;
			}
		}
	}

	/* Dashboard */

	.dashboard {
		h2 {
			font-size: 21px;
			line-height: 25px;
		}

		.dashboard h3 {
			font-size: 17px;
			line-height: 21px;
		}

		.dashboard__wrap {
			flex-direction: column;

			.dashboard__content {
				margin: 0;
				flex-wrap: wrap;

				.dashboard__content_text {
					margin-left: 0;
				}
			}

			aside {
				max-width: unset;
				margin-bottom: 25px;
			}
		}

		/* State */

		&.state {
			.order__table {
				padding: 15px;
			}
		}

		/* Tracking */
		&.track {
			.order__table {
				padding: 15px;
			}

			.dashboard__content .order p {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}

	/* Dashboard */

	.academy {
		.dashboard__content {
			padding: 15px;
		}

		&.success {
			.academy__head {
				flex-direction: column;

				.dashboard__content {
					margin: 12px 0;
				}
			}
		}

		&.hello {
			.success__wrap {

				h2 {
					font-size: 28px;
					line-height: 34px;
				}

				p {
					font-size: 20px;
					line-height: 24px;
				}
			}
		}
	}


	/* Catalog 576*/

	.catalog {
		.product {

			&__img {
				margin-right: 0;
			}
		}

		&__pagination_items {
			flex-direction: column;
			margin-top: 15px;
			text-align: center;

			p {
				margin: 0;
			}
		}

		&__pagination_body {
			flex-direction: column;
			text-align: center;
		}
	}

	/* Single Product */

	.slider__wrap {
		flex-wrap: wrap;
		justify-content: center;
	}

	.product__single {
		.modal-nav {
			max-width: 100%;
			display: flex;
			padding: 0 15px;

			.slick-track {
				flex-direction: unset;
			}
		}

		.modal__slider {
			margin-top: 25px;
			margin-bottom: 25px;
		}
	}

	.product__single_info {
		padding: 20px;
	}

	.product__single .product__price {
		font-size: 26px;
	}

	.product__single .grey_box {
		font-size: 13px;
		padding: 4px 11px;
		margin-bottom: 0;
	}

	/* Single Product */



}

@media all and (max-width: 390px) {
	.city {
		svg {
			margin-right: 0px;
		}
	}

	.top_menu {
		li {
			margin-left: 7px;
		}
	}

	footer {
		.container {
			padding: 0 10px;
		}
	}

	/* Catalog 390px*/

	.catalog {
		.product {
			height: unset;
			margin-bottom: 15px;

			&__img {
				max-width: 85px;
				max-height: 105px;
			}

			&__price {
				font-size: 17px;
				margin: 5px 0;
			}

			h3 a {
				font-size: 14px;
				line-height: 16px;
				margin-top: 0;
			}
		}
	}

	/* .product__single .product__price {
		font-size: 20px;
	}
	.product__single .product__size {
		flex-wrap: wrap;
	} */

	.header__contact span {
		font-size: 12px;
	}
}

@media all and (max-height: 715px) {
	.mobile__menu {
		overflow: scroll;
	}
}