/* Configure */


.grey_box {
    background: rgba(41, 37, 37, 0.05);
    padding: 0 8px;
    font-size: 12px;
    line-height: 24px;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;

    &:hover {
        background: var(--pink);
        color: var(--red);
    }

    &.chosen {
        background: var(--red);
        color: #fff;
    }
}

.discount_box {
    background: var(--pink);
    padding: 0 8px;
    margin-left: 12px;
    color: var(--red);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.articul {
    font-size: 16px;
    line-height: 19px;
    opacity: 0.3;
    margin-top: 4px;
}

/* Configure */
.catalog {
    padding: 35px 0;

    &__wrap {
        margin-top: 34px;
    }

    aside {
        max-width: 240px;
        border: 1px solid #f4f4f4;
        padding: 24px;
    }

    &__filter {
        p:first-child {
            margin-top: 0;
        }

        p {
            font-size: 16px;
            line-height: 19px;
            margin-top: 16px;
            margin-bottom: 8px;
        }
    }

    input {
        width: 100%;
        background: none;
        color: #000;
        font-size: 16px;
        font-weight: initial;
        box-shadow: none;
        border: none;
    }

    .slider-range * {
        transition: unset;
    }

    .block-input {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;

        input {
            width: 83px;
            height: 32px;
            background: rgba(41, 37, 37, 0.05);
            padding: 5px;
            text-align: center;
        }
    }

    .slider-range-line {
        height: 2px;
    }


    .ui-slider-range {
        background: var(--red);
        height: 2px;
        width: 100%;
    }

    .ui-slider-horizontal .ui-slider-handle {
        border: none;
        border-radius: 25px;
        background: #fff;
        border: 2px solid var(--red);
        height: 17px;
        width: 17px;
        top: -0.52em;
        cursor: pointer;
    }

    .ui-widget.ui-widget-content {
        border: none;
        background: #bfbebe;
    }

    .buttons {
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;

        button,
        a {
            display: block;
            width: 100%;
        }
    }

    &__products {
        width: 100%;
        margin-left: 37px;

        .discount_box {
            font-size: 12px;
            line-height: 24px;
        }
    }

    &__pagination {
        .more__items {
            width: 100%;
            background: rgba(41, 37, 37, 0.03);
            height: 48px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: rgba(41, 37, 37, 0.3);

            &:hover {
                color: var(--textColor);
                background: rgb(41 37 37 / 12%);
            }
        }

        &_items {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-top: 48px;

            p {
                margin-right: 16px;
            }

            span {
                margin-right: 8px;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    color: var(--red);
                }
            }

            .active {
                color: var(--red);
            }
        }
    }
}

.product {
    height: 100%;
    max-width: 225px;
    margin-left: 37px;
    margin-bottom: 36px;

    &__img {
        max-width: 245px;
        max-height: 360px;
        position: relative;
        cursor: pointer;
        font-size: 24px;
        line-height: 30px;
        text-align: center;

        img {
            width: 100%;
            height: 100%;
        }

        &:hover .product__overlay {
            opacity: 1;
        }
    }

    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        opacity: 0;
        color: #FFFFFF;
    }

    h3 a {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-top: 12px;

        &:hover {
            color: var(--red);
        }
    }

    &__price {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-top: 8px;
        margin-bottom: 12px;

        ins {
            text-decoration: none;
        }

        del {
            opacity: 0.3;
            margin-left: 12px;
        }

    }

    &__colors {
        span {
            margin-right: 12px;
        }

        div {
            width: 20px;
            height: 20px;
        }

        .red {
            background: #D33445;
        }

        .black {
            background: #000;
            margin-left: 4px;
        }
    }
}

/* Product Modal */

.product__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    transform: translateY(-100%);
    transition: .5s ease;

    .close {
        width: 24px;
        height: 24px;
        margin-left: 53px;
        cursor: pointer;

        &:hover {
            transform: scale(1.11);
        }

        svg path {
            fill: #b1b1b1;
        }
    }

    &.reveal {
        transform: translateY(0);
    }

    &_overlay {
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        opacity: .5;
        width: 100vw;
        height: 100vh;
        z-index: 9;
        display: none;

        &.reveal {
            display: block;
        }
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--pink);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--red);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #f53c45;
    }
}

.product__modal .product__single {
    background: #fff;
    width: 100%;
    max-width: 1268px;
    height: 95vh;
    z-index: 100;
    padding: 32px;
    overflow-y: auto;
}

.product__single {

    &_content {
        max-width: 478px;
    }

    .modal-nav {
        max-width: 94px;

        .slick-track {
            flex-direction: column;
        }

        .slick-slide {
            width: 94px;
            height: 94px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &.slick-current.slick-active {
                border: 1px solid var(--red);
                width: 94px !important;
            }
        }

        .slick-prev,
        .slick-next {
            width: 19px;
            height: 12px;
            font-size: 0;
            background: url(../../img/icons/arrowdown.svg) 100%/cover no-repeat;
            display: block;
            margin: 25px auto;
        }

        .slick-prev {
            transform: rotate(180deg);
        }

    }

    &_info {
        background: #F8F8F8;
        padding: 50px;
        margin: 24px 0;
    }

    h2 {
        font-size: 30px;
        line-height: 36px;
    }

    .product__price {
        font-size: 36px;
        line-height: 43px;
        margin: 0;
        white-space: nowrap;

        .discount_box {
            padding: 6px 8px;
            padding-top: 12px;
        }
    }

    .product__color {
        font-size: 20px;
        line-height: 20px;
        color: rgba(41, 37, 37, 0.3);
        margin-top: 36px;
        margin-bottom: 12px;
    }

    .product__colors {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 32px;

        div {
            width: 40px;
            height: 40px;
        }
    }

    .product__size {
        font-size: 20px;
        line-height: 24px;

        span {
            margin-right: 16px;
        }
    }

    .grey_box {
        font-size: 16px;
        line-height: 24px;
        padding: 9px 15px;
        padding-bottom: 7px;
    }

    .chosen {
        color: #c7c5c5;
        background: rgba(41, 37, 37, .05);
    }

    .product__sizetable {
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: var(--red);
        cursor: pointer;
        margin-top: 12px;
        margin-bottom: 36px;

        svg {
            margin-right: 8px;
            width: 12px;
            height: 12px;
        }
    }

    .btn {
        display: block;
        width: 100%;
        max-width: 378px;
        margin: 0 auto;
        font-size: 20px;
        line-height: 24px;
        margin-top: 16px;
    }
}

.modal__slider {
    max-width: 448px;
    width: 100%;
    margin: 0 24px;

    img {
        width: 100%;
        height: 100%;
    }
}

.product__quantity {
    form {
        max-width: 223px;

        span {
            margin-right: 16px;
            font-size: 20px;
            line-height: 24px;
        }
    }


    .value-button {
        background: rgba(41, 37, 37, 0.05);
        padding: 0 8px;
        font-size: 16px;
        line-height: 19px;
        cursor: pointer;
        padding: 8px 12px;
    }

    input {
        border: none;
        background: transparent;
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        width: 100%;
    }
}

.product__description {
    padding-bottom: 16px;
    cursor: pointer;
    overflow: hidden;
    flex-wrap: wrap;
    height: 49px;

    &.show {
        height: auto;

        svg {
            transform: rotate(180deg);
        }
    }

    &_header {
        width: 100%;
        padding: 16px;
        padding-left: 0;
        border-bottom: 1px solid #d4d3d3;
    }

    p {
        margin-top: 16px;
        margin-bottom: 32px;
    }
}


/* Product Modal */

/* Single Product */

.single_product {

    .product__single {
        margin-top: 32px;
    }
}


/* Single Product */